//
//  release.xcconfig
//  test_xcconfig
//
//  Created by 黄亚栋 on 2019/7/9.
//  Copyright © 2019 LEGOKit. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

APP_DISPLAY_NAME = xconfig_release;
